// Colours
$primary-color: #2A2D34;
$secondary-color: #009DDC;
$tertiary-color: #FE654F;
$light-text-color: rgb(214, 216, 219);

// Measurements
$v-unit: 5vh;
$h-unit: 2.5vw;

// Fonts
$text-font: 'Open Sans', sans-serif;
$condensed-font: 'Open Sans Condensed', sans-serif;
$header-font: 'Amatic SC', cursive;